UPDATE_INTERVAL_SECONDS=21600
KEEP_VERSIONS=2
GITHUB_TOKEN=
ALLOW_CHANGED_CHECKSUM=false
MAX_DOWNLOAD_BYTES=2147483648
BUILDER_UID=1000
BUILDER_GID=1000
HTTP_BIND_ADDRESS=0.0.0.0
HTTP_PORT=8088
OPSI_BASE_IMAGE=uibmz/opsi-server:4.3
LOG_LEVEL=INFO
